/* @import url(//fonts.googleapis.com/earlyaccess/notosansbengali.css); */
body{
  /* font-family: 'Bangla', 'Roboto', sans-serif !important; */
  font-family: 'Noto Sans Bengali', sans-serif;
}

.navbar .left-side.logo img{
  width:80px;
  height: auto;
}
.name-title{
  color: #ff005c;
  font-weight: 800;
}
.text-content .name-title-2{
  color: #1F1D59;
  font-weight: 800;
}
.text-content .place{
  color: green;
}
.text-content .date{
  color: #FF0000;
  font-weight: bold;
}
.text-content .name{
  color: #16213E;
  background-color: lightblue;
  padding: 20px 0;
  font-weight: bold;
}
.text-content .name-title-3{
  color: #0F3460;
}
@media (max-width:767px) {
  .navbar{
    padding: 0 !important;
  }
  .navbar .left-side.logo img {
    width: 50px;
    height: auto;
}
  .navbar .right-side.logo img {
    width: 220px;
    height: auto;
}
}
@media (max-width:320px) {
  .navbar .left-side.logo img {
    width: 30px;
    height: auto;
}

}

.timer {
  font-family: "Roboto";
  width: 550px;
  height: 370px;
  margin: auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timer .flipdown {
  margin: auto;
  text-align: center;
}

.timer h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.timer .flipdown h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flipdown.flipdown__theme-dark .rotor-group-heading:before {
  color: #16213E;
}

.rotor-group-heading {
  margin-bottom: 10px;
}

.flipdown.flipdown__theme-dark .rotor-bottom, .flipdown.flipdown__theme-dark .rotor-leaf-rear {
  color: #16213E;
  background-color: #bfbfbf;
}

.flipdown.flipdown__theme-dark .rotor, .flipdown.flipdown__theme-dark .rotor-top, .flipdown.flipdown__theme-dark .rotor-leaf-front {
  color: #16213E;
  background-color: #bfbfbf;
}

.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
  background-color: #bfbfbf;
}

@media (max-width:320px) {
  .flipdown .rotor, .flipdown .rotor-leaf, .flipdown .rotor-leaf-front, .flipdown .rotor-leaf-rear, .flipdown .rotor-top, .flipdown .rotor-bottom, .flipdown .rotor:after{
    width: 28px !important;
  }
}